# .env
HF_TOKEN = "your_huggingface_api_key_here"
GEMINI_API_KEY = "your_Google_api_key_here"
SECRET_KEY =your_key

# Новые настройки
DATABASE_URL = "sqlite:///./conversations.db"
DEBUG = true
LOG_LEVEL = "INFO"
DOCS_DIRECTORY = "./docs"
QDRANT_PATH = "./qdrant_storage"
SQLITE="./storage/db_chat/tables.db"